*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.nav{
   height:50px;
   background-color: rgb(211, 205, 205);
   display:flex;
   align-items: center;
   justify-content: center;
   border: grey;
   border-style:none;
   gap: 10px;
} 

#home{
    width: 100px;
    height:25px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    border-style: ridge;
}
#yc{
    width: 100px;
    height:25px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    border-style: ridge;
}

.title1{
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes{
    margin:auto;
    width:50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    background-color: violet;
    width:100px;
    height:100px;
    border:1px solid black;
}